body {
	font-family:Libertine <!Verdana, Arial, Helvetica,> sans-serif; margin: 0px; padding: 0px; color: rgb(40, 40, 40); font-size-adjust: none; font-stretch: normal; 
	background-color: rgb(66, 66, 66)
}
ul {
	margin: -1px; padding: 0px; 
}

<!-- ol { 
	margin: -1px; padding: 15px;
    display: flex;
    flex-direction: column-reverse;
}-->
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  flex-direction: column-reverse;
  color: FF6D37;
  width: 1em;
  font-size: 1.25em;
  margin-left: 0em; margin-right:1em;
  font-weight: bold;
}

li {
    flex: 0 0 auto;
}
dl {
	margin: -1px; padding-right: 15px; padding-left: 15px;
}
  dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
    font-weight: bold;
    color: rgb(40, 40, 40);
  }
  dd {
	margin-left: 120px;
    padding: 0 0 0.5em 0;
  }
  
  
h1 {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: -1px;
}
h2 {
	padding-right: 15px; padding-left: 15px;  <!--margin-top: 0px;--> margin: -1px;
}
h3 {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: -1px;
}
h4 {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: -1px;
}
h5 {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: -1px;
}
h6 {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: -1px;
}
hr { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(66, 66, 66);
} 

<!-- hr {
  border: 5px solid rgb(66, 66, 66); margin-top: 1px; margin-bottom: 1px;
}-->
p {
	padding-right: 15px; padding-left: 15px; <!--margin-top: 0px;--> margin: 0px;
}
 a img {
	border: rgb(66, 66, 66); border-image: none;
}
a:link {
	color: rgb(255, 109, 55); text-decoration: none;
}
 a:visited {
	color: rgb(254, 113, 56); text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	 background-color:  #FF6D37;
  	color: #282828;
}
a:focus {
	text-decoration: none;
}
.container {
	 margin: -1px auto; width: 800px; background-color: rgb(255, 255, 255);
}
.header {
	margin-left: 25px; height: 90px; background-repeat: repeat; background-color: rgb(255, 255, 255); color: #424242; margin-bottom:10px;
}

.header a {
  float: center;
  color: #FF6D37;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  font-variant: small-caps;
  <!font-family: Verdana, sans-serif;>
}


.header a:hover {
  background-color: #FF6D37;
  color:  #282828;
}

.header a.active {
  background-color:  #FF6D37;
  color: #282828;
}

.topnav a {
  float: center;
  color: #FF6D37;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  font-variant: small-caps;
  <!font-family: Verdana, sans-serif;>
}

.topnav a:hover {
  background-color: #FF6D37;
  color:  #282828;
}

.topnav a.active {
  background-color:  #FF6D37;
  color: #282828;
}



.subtopnav a {
  float: center;
  color: #FF6D37;
  background-color:  #424242;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 14px;
  <!font-family: Verdana, sans-serif;>
}

.subtopnav a:hover {
  background-color: #FF6D37;
  color:  #282828;
}

.subtopnav a.active {
  background-color:  #FF6D37;
  color: #282828;
}


.content {
	padding: 20px 1px 25px; alignment-adjust: central;  margin: -1px;
}
.content ul {
	padding: 0px 15px 15px 40px;
}
.content ol {
	padding: 0px 15px 15px 40px;
}
.footer {
	height: 30px; background-repeat: repeat; background-color: rgb(255, 255, 255); margin-bottom: 20px; margin-top: 0px;
	<! background: rgb(55, 65, 64); padding: 0px 0px; >
}
.fltrt {
	margin-left: 8px; float: right;
}
.fltlft {
	margin-right: 8px; float: left;
}
.clearfloat {
	height: 0px; line-height: 0px; clear: both; font-size: 1px;
}
p.normal {
    font-variant: normal;
}
p.small {
    font-variant: small-caps;
}

p.italic {
    font-style: italic;
}