<div class="footer-content">
    <p>
        <span style="font-variant: small-caps; font-size: 1.2em;">Luca Fenzi</span><br>
        <i>PhD in Engineering Science / Ingegneria Informatica</i>
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/luca-fenzi/" aria-label="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.researchgate.net/profile/Luca_Fenzi2" aria-label="ResearchGate"><i class="fab fa-researchgate"></i></a>
        <a href="https://scholar.google.com/citations?user=b8j0QoUAAAAJ&hl=en" aria-label="Google Scholar"><i class="fa fa-graduation-cap"></i></a>
        <a href="mailto:fenzi.luca@gmail.com" aria-label="Email"><i class="fa fa-envelope"></i></a>
    </div>
</div>