<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<div class="header-content">
    <div class="profile-info">
        <h1>Luca <span style="font-variant: small-caps">Fenzi</span></h1>
        <p>Mathematician with a PhD in Engineering Science<br><!-- Science communicator - expert in Computational Mathematics</p>-->
    </div>
    <div class="lang-switch">
        <a href="index.html" id="lang-en" class="active">ENG</a>
        <a href="indexITA.html" id="lang-it">ITA</a>
    </div>
</div>
<nav class="topnav">
    <a href="index.html" data-link="home">HOME</a>
    <a href="Research.html" data-link="research">RESEARCH</a>
    <a href="Software.html" data-link="software">PHD SOFTWARES</a>
</nav>