<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<div class="header-content">
    <div class="profile-info">
        <h1>Luca <span style="font-variant: small-caps">Fenzi</span></h1>
        <p>Matematico con un dottorato in Ingegneria Informatica</p>
    </div>
    <div class="lang-switch">
        <a href="index.html" id="lang-en">ENG</a>
        <a href="indexITA.html" id="lang-it" class="active">ITA</a>
    </div>
</div>
<nav class="topnav">
    <a href="indexITA.html" data-link="home">HOME</a>
    <a href="ProgettiITA.html" data-link="divulgazione">PROGETTI</a>
    <a href="DidatticaITA.html" data-link="didattica">MATERIALI</a>
    <a href="ExtrasITA.html" data-link="links">LINKS</a>
</nav>